<section id="add">  
  <form action="/" method="post">  
    <textarea name="new_note" placeholder="Your note:"></textarea>  
    <input type="submit" value= "Add to-do item!">  
  </form>  
</section>