<!doctype html>  
<html lang="en">  
<head> 
  <title> 'Just Do It' </title>  
  <link href="/reset.css" rel="stylesheet">  
  <link href="/style.css" rel="stylesheet">  
</head>  
<body>  
  <header>  
    <hgroup>  
      <h1><a href="/">Just Do It</a></h1>  
      <h2>So sue me, Nike.</h2>  
    </hgroup>  
  </header>  
  
  <div id="main">  
    <%= yield %>  
  </div>  
</body>  
</html>  
